<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lighting Settings</title>
</head>
<body>
<h2>Lighting Settings</h2>

<form action="/settings/lighting" method="post">
  <!-- 각 방의 불을 조절할 수 있는 체크박스 -->
  <label for="room1Light">방 1 : </label>
  <input type="checkbox" id="room1Light" name="room1Light" th:checked="${lightingSettings.room1Light}">
  <br>

  <label for="room2Light">방 2 : </label>
  <input type="checkbox" id="room2Light" name="room2Light" th:checked="${lightingSettings.room2Light}">
  <br>

  <label for="livingRoomLight">거실 : </label>
  <input type="checkbox" id="livingRoomLight" name="livingRoomLight" th:checked="${lightingSettings.livingRoomLight}">
  <br>

  <label for="kitchenLight">부엌 : </label>
  <input type="checkbox" id="kitchenLight" name="kitchenLight" th:checked="${lightingSettings.kitchenLight}">
  <br>

  <label for="bathroomLight">화장실 : </label>
  <input type="checkbox" id="bathroomLight" name="bathroomLight" th:checked="${lightingSettings.bathroomLight}">
  <br>

  <button type="submit"> 저장 </button>
</form>

</body>
</html>