<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<h2>Register</h2>
<form action="/register" method="post">
    <label for="username">ID:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="apartmentBuilding">동 : :</label>
    <input type="text" id="apartmentBuilding" name="apartmentBuilding" required>
    <br>
    <label for="apartmentNumber">호수 : </label>
    <input type="text" id="apartmentNumber" name="apartmentNumber" required>
    <br>
    <button type="submit">Complete Registration</button>
</form>

<!-- 추가: 회원가입이 성공했을 때 메시지 표시 -->
<th:block th:if="${registrationSuccess}">
    <p>Registration successful! You can now <a href="/login">login</a>.</p>
</th:block>
</body>
</html>